@import "./scss/utils/container";
@import "./scss/utils/reset";

@import "./scss/details/header";
@import "./scss/details/main-section1";
@import "./scss/details/main-section2";
@import "./scss/details/main-section3";
@import "./scss/details/footer";

