.footer {
    padding-top: 78px;
    padding-bottom: 27px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-p {
    font-weight: 700;
    font-size: 12px;
}