header {
     width: 100vw;
}

.headerFlex {
    display: flex;
}

.img-logo {
    width: 150px;
    height: 65px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.header-nav-list {
    display: flex;
}

.header-nav{
margin-left: 465px;
margin-top: 64px;
margin-bottom: 64px;

}

.header-nav-list-li {
    margin-right: 94px;
}

.header-nav-list-li:nth-last-child {
    margin-right: 0;
}

.header-nav-a {
    color: #252B42;
    transition:color 250ms;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;
    &:hover {
        color: #FA4A0C;
    }
}


