.main-section1{
    padding-top: 80px;
    padding-bottom: 162px;
    color: white;
    background-image: url(/assets/img/DeskTop/x1/Rectangle48.webp);
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(/assets/img/DeskTop/x2/Rectangle48.webp);
    }

    @media(min-device-pixel-ratio: 3), (min-resolution: 384dpi) {
        background-image: url(/assets/img/DeskTop/x3/Rectangle48.webp);
    }
}

.main-section1-h6 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    margin-bottom:20px;
}

.main-section1-h1 {
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: 80px;
    text-align: center;
    width: 680px;
    margin: 0 auto; 
   
}

.main-section1-p {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2px;
    margin-top: 10px;
    margin-bottom: 73px;
    text-align: center;
}

.main-section1-buttonFlex {
    text-align: center;
}

.main-section1-button1 {
    margin-right:67px;
    background-color:#FA4A0C;
    border-color: transparent;
    &:hover {
        background-color: #b73327;
    }
}

.main-section1-button2 {
    background-color: transparent;
    border-color: white;
    border-style: solid;
     &:hover {
        background-color: #d8d8d833;
    }
}

.main-section1-button {
    width: 236px;
    height: 68px;
    border-radius: 30px;
    border-width: 0.1px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
     transition: background-color 250ms;
}
