.main-section2 {
    padding-top: 56px;
}

.main-section2-h3 {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    letter-spacing: 0.1px;
    margin-bottom:70px;
}

.main-section2-flex {
    display: flex;
}

.padding1 {
    padding-bottom:80px;
}

.main-section2-flex-picture {
    width: 250px;
    height: 506px;
}

.main-section2-flex-list1 {
    margin-left: 287px;
}


.main-section2-flex-list {
    margin-top: 113px;
}
.main-section2-flex-list-li-h6 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
    margin-bottom: 15px;
}

.main-section2-flex-list-li-h4 {
    color: #252b42;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    width: 480px;
}

.main-section2-flex-list-li-p {
    color:#737373;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    width: 462px;
}

.padding2 {
    padding-bottom:132px;
    padding-top: 28px;
}

.main-section2-flex-list2 {
    margin-right: 250px;
}


