.main-section3 {
    padding-top: 141px;
    padding-bottom: 130px;
    background-image: url(/assets/img/DeskTop/x1/Rectangle47.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    @media (min-device-pixel-ratio:2), (min-resolution:192dpi) {
        background-image: url(/assets/img/DeskTop/x2/Rectangle47.webp);
    }

    @media (min-device-pixel-ratio:3), (min-resolution:384dpi) {
        background-image: url(/assets/img/DeskTop/x3/Rectangle47.webp);
    }
}

.main-section3-h3 {
    text-align: center;
    font-size:40px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

.main-section3-p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 59px;
}

.main-section3-flexButton {
    text-align: center;
}

.main-section3-button {
    width: 236px;
    height: 68px;
    border-radius: 15px;
    border-width: 0.1px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
     transition: background-color 250ms;
}

.main-section3-button1 {
      margin-right:67px;
    background-color:#FA4A0C;
    border-color: transparent;
    &:hover {
        background-color: #b73327;
    }
}

.main-section3-button2 {
      background-color: transparent;
    border-color: white;
    border-style: solid;
     &:hover {
        background-color: #d8d8d833;
    }
}
